<nav>
    <ul class="navi">
    <li class="list"><a href="/">HomePage</a></li>
    <li class="list"><a href="/cookies">Cookies</a></li>
    <li class="list"><a href="/cakes">Cakes</a></li>
    <li class="list"><a href="/muffins">Muffins</a></li>
    </ul>
</nav>

<div class="pastry">
<h3>Chocolate Cake</h3>
<break>
<ul>
<img src="https://bit.ly/2VIHLkI" height="250px" width="250px">
<li><%= @space_cake.description%></li>
<li><%= @space_cake.price%></li>
</ul>
</div>

<div class="pastry">
<h3>Cheese Cake</h3>
<break>
<ul>
<img src="https://bit.ly/2CgPHk9" height="250px" width="250px">
<li><%= @cheese_cake.description%></li>
<li><%= @cheese_cake.price%></li>
</ul>

</div>