<nav>
    <ul class="navi">
    <li class="list"><a href="/">HomePage</a></li>
    <li class="list"><a href="/cookies">Cookies</a></li>
    <li class="list"><a href="/cakes">Cakes</a></li>
    <li class="list"><a href="/muffins">Muffins</a></li>
    </ul>
</nav>

"Hello cookies!"
<ul>
<li><%= @chocolate_chip.description%></li>
<li><%= @chocolate_chip.price%></li>
</ul>