


<nav>
    <ul class="navi">
    <li class="list"><a href="/">HomePage</a></li>
    <li class="list"><a href="/cookies">Cookies</a></li>
    <li class="list"><a href="/cakes">Cakes</a></li>
    <li class="list"><a href="/muffins">Muffins</a></li>
    </ul>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://bit.ly/2RFA1Rw" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Cookies</h5>
            <p class="card-text">Betsys Best Cookies.</p>
            <a href="/cookies" class="btn btn-primary">Learn more</a>
            <br>
            </div>
        </div>
    </div>
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/2CgwuiN" alt="Card image cap" width="286px" height="190px">
                <div class="card-body">
                <h5 class="card-title">Cakes</h5>
                <p class="card-text">Betsy's Best Cakes.</p>
                <a href="/cakes" class="btn btn-primary">Learn more</a>
                </div>
            </div>      
        </div>
            <div class="col-sm">
      
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://bit.ly/2FvdlwR" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Muffins</h5>
                        <p class="card-text">Betsy's Best Muffins.</p>
                        <a href="/muffins" class="btn btn-primary">Learn more</a>
                        <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>










