<nav>
    <ul class="navi">
    <li class="list"><a href="/">HomePage</a></li>
    <li class="list"><a href="/cookies">Cookies</a></li>
    <li class="list"><a href="/cakes">Cakes</a></li>
    <li class="list"><a href="/muffins">Muffins</a></li>
    </ul>
</nav>

<div class="pastry">
<h3>Corn Muffins</h3>
<break>
<ul>
<img src="https://bit.ly/2SKIsIm" height="250px" width="250px">
<li><%= @corn_muffin.description%></li>
<li><%= @corn_muffin.price%></li>
</ul>
</div>

<div class="pastry">
<h3>Blueberry Muffins</h3>
<break>
<ul>
<img src="https://bit.ly/2Chh3qA" height="250px" width="250px">
<li><%= @blueberry_muffin.description%></li>
<li><%= @blueberry_muffin.price%></li>
</ul>
</div>